page-cart {

.my-label {
  font-size: 15px;
   width: 200px !important;
    min-width: 200px !important;
    max-width: 200px !important;
}
.left{
float: left !important;
}
.right
{
float: right !important;
}
}
